// register form
.form
    form(method=method action=action enctype=enctype)
        div.form-group
            label(for=field_one_for) #{fieldOne}:
            input(id=field_one_id).form-control(type=field_one_type, placeholder=field_one_placeholder, name='x')
        div.form-group
            label(for=field_two_for) #{fieldTwo}:
            input(id=field_two_id).form-control(type=field_two_type, placeholder=field_two_placeholder name='y')
        if (routeName === '/add' || routeName === '/register')   
            div.form-group
                label(for=field_three_for) #{fieldThree}:
                input(id=field_three_id).form-control(type=field_three_type, placeholder=field_three_placeholder name='z')
        if routeName === '/add' 
            div.form-group
                label(for=field_four_for) #{fieldFour}
                input(id=field_four_id).form-control(type=field_for_text, placeholder=field_four_placeholder name=field_four_name)
            div.form-group
                label(for=field_five_for) #{fieldFive}
                input(id=field_five_id).form-control(type=field_five_type name=field_five_name)
        button.btn.btn-primary(type=button_type value=button_value) #{buttonField}
