form(method='POST' action='/register' enctype='multipart/form-data')
    div.form-group
      label(for=username) test 1:
      input(id=username).form-control(type='text', placeholder=username_placeholder, name='username')
    div.form-group
      label(for=password) test 2:
      input(id=password).form-control(type=password name='password' placeholder=password_placeholder)
    //- if routeName === '/register'
    div.form-group
      label(for=password) #{fieldThree}:
      input(id=password).form-control(type=password name=password placeholder=password_placeholder2)
    button.btn.btn-primary(type='submit' value='submit') Sign In
