extends layout

block content
    div.index-container
        div.puppy-container
            div.puppy-box
                h1= title
                p Welcome to #{title}
            include _flashes
            each imgObj in imgObjs
                div.puppy-box
                    picture
                        source(media=`(min-width:853px)` srcset=`${imgObj.lg}`)
                        source(media=`(max-width: 852px)` srcset=`${imgObj.md}`)
                        //- source(media=`(max-width:900px)` srcset=`${imgObj.cn}`)
                        //- source(media=`(max-width:1099px)` srcset=`${imgObj.lg}`)
                        //- source(media=`(min-width:1100px)` srcset=`${imgObj.fs}`) 
                        img.image(src=`${imgObj.fs}` alt=`A dog`)

                //- div.puppy-box
                //-     h2 3
                //- div.puppy-box
                //-     h2 4
                //- div.puppy-box
                //-     h2 5
                //- div.puppy-box
                //-     h2 6 
                //- div.puppy-box
                //-     h2 7 
                //- div.puppy-box
                //-     h2 8
                //- div.puppy-box
                //-     h2 9
                //- div.puppy-box
                //-     h2 10
