extends layout

block content
    div.index-container
        div.puppy-container
            div.puppy-box
                h1= title
                p <strong>A quick and simple service for getting pictures of kittens for use as placeholders in your designs or code.</strong> Just put your image size (width & height) after our URL and you'll get a placeholder.
                div.links
                    div(style={color:'white'}) Like this: &nbsp 
                        a http://place-puppy.com/200x200 #[br]
                        | jpg or png: &nbsp 
                        a http://place-puppy.com/g/200x200?f=png #[br]  
                        | [ high, good, eco, low ] 
                        a http://place-puppy.com/g/200x200?q=high
            include _flashes
            each imgObj in imgObjs
                div.puppy-box
                    picture
                        source(media=`(max-width: 638px)` srcset=`${imgObj.sm}`)
                        source(media=`(max-width: 852px)` srcset=`${imgObj.md}`)
                        source(media=`(min-width:853px)` srcset=`${imgObj.lg}`)
                        //- source(media=`(max-width:900px)` srcset=`${imgObj.cn}`)
                        //- source(media=`(max-width:1099px)` srcset=`${imgObj.lg}`)
                        //- source(media=`(min-width:1100px)` srcset=`${imgObj.fs}`) 
                        img.image(src=`${imgObj.fs}` alt=`A dog`)

            //- div.puppy-box
            //-     h2 3
            //- div.puppy-box
            //-     h2 4
            //- div.puppy-box
            //-     h2 5
            //- div.puppy-box
            //-     h2 6 
            //- div.puppy-box
            //-     h2 7 
            //- div.puppy-box
            //-     h2 8
            //- div.puppy-box
            //-     h2 9
            //- div.puppy-box
            //-     h2 10
