extends layout

block content
    .index-page
        if maintenance
            h3#maintenance Site undergoing maintenance. Outages may occur. Sorry for any disruption.   
        div.index-container
            div.puppy-container
                div.puppy-box
                    h1= title
                    p. 
                        #[strong A quick and simple service for getting pictures of puppies for use as placeholders in your designs or codes]. Just put your image size
                        (width <span class='amp'> & </span>height) after our URL and you'll get a placeholder.
                    div.links
                        div(style={color:'white'}) Like this: &nbsp 
                            a(href='https://place-puppy.com/300x300') https://place-puppy.com/300x300 #[br]
                    p. 
                        - #[strong [optional]] Format by extension. Choose from <code>jpg</code> (default), <code>png</code>, <code>gif</code> or <code>bmp</code>.
                    div.links
                        div(style={color:'white'}) Like this: &nbsp 
                            a(href='https://place-puppy.com/300x300?f=png') https://place-puppy.com/300x300?f=png #[br]
                    p. 
                        - #[strong [optional]]  Quality params: Choose <code>/best</code>, <code>/good</code> or <code>/low</code>. jpg <span class='amp'> & </span> png only.
                    div.links
                        div(style={color:'white'}) Like this: &nbsp 
                            a(href='https://place-puppy.com/300x300?q=best&f=jpg') https://place-puppy.com/300x300?q=best&f=jpg #[br]


                each imgObj in imgObjs
                    div.puppy-box
                        picture
                            source(media=`(max-width: 638px)` srcset=`${imgObj.sm}`)
                            source(media=`(max-width: 852px)` srcset=`${imgObj.md}`)
                            source(media=`(min-width:853px)` srcset=`${imgObj.lg}`)
                            source(media=`(max-width:900px)` srcset=`${imgObj.cn}`)
                            source(media=`(max-width:1099px)` srcset=`${imgObj.lg}`)
                            source(media=`(min-width:1100px)` srcset=`${imgObj.fs}`) 
                            img.image(src=`${imgObj.fs}` alt=`A dog`)
                |
        hr
        footer.footer
            div.inpspiration
                | Delivered by 
                a(href='https://github.com/chrisdel101') Chris Del —  
                | All images licensed via 
                a(href='https://pixabay.com/en/service/terms/#usage') Creative Commons 0 
                span.amp & 
                a(href='https://www.pexels.com/photo-license/') Pexels License — 
                | Inspired by 
                a(href='http://placekitten.com') placekitten
                | 
                a(href="https://www.buymeacoffee.com/chrisdel101" target="_blank")  
            div.donations
                a(href="https://www.buymeacoffee.com/chrisdel101" target="_blank")
                    img(src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;")
