extends layout

block content

    .form
        form(method=method action=action enctype=enctype)
            div.col-md-6.col-md-offset-3  
            h2.display-4.m-b-2 Logout
            button.btn.btn-primary(type=button_type value=button_value) #{buttonField}
